@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width:280px) {
    .container {
        /* margin: 2rem 1rem; */
        width: 250px !important;
        height: 525px !important;
        padding: 1rem !important;
    }
    /* .image-block img {
        display: flex !important;
        align-items: center !important;
        width: 100% !important;
        height: 220px !important;
    } */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(217, 54%, 11%);
    margin: 5rem 1rem;
    font-family: 'Outfit', sans-serif;
}

.container {
    width: 300px;
    height: 525px;
    background: hsl(216, 50%, 16%);
    padding: 1.65rem;
    border-radius: 10px;
    position: relative;
}

.image-block {
    width: 100%;
    position: relative;
    padding: 0;
}

.image-block div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-block img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.view-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
}


/* .image-block div:hover img {
    transform: scale(1.2);
} */

.view-img:hover {
    background: url("assets/images/icon-view.svg") rgba(0, 255, 247, 0.5) no-repeat center;
    cursor: pointer;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.3rem;
    text-align: start;
    margin: 1.5rem 0 1rem 0;
    font-weight: bolder;
}

h1:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.first-p {
    color: hsl(215, 51%, 70%);
    margin: 1rem 0;
    line-height: 1.5;
    font-size: 0.9rem;
}

.inner-block-content {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.inner-1,
.inner-2 {
    color: hsl(215, 51%, 70%);
    display: flex;
    align-items: center;
    font-weight: 600;
}

.inner-1 {
    color: hsl(178, 100%, 50%);
}

.inner-block-content img {
    margin-right: 5px;
}

hr {
    background-color: hsl(215, 51%, 70%);
    border: none;
    height: 1px;
    margin: 1rem 0;
}

.avtar-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.avtar-block img {
    width: 35px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50px;
}

.avtar-p {
    color: hsl(215, 51%, 70%);
}

.avtar-p span {
    color: hsl(0, 0%, 100%);
}

.avtar-p span:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}